body{
    background-color: rgb(235, 225, 225);
    text-align: center;
}

h1{
    color: rgb(187, 32, 32);
}

.morango{
    color: brown;
}

.moranguinho{
    color: darkred;
}

h2{
    background-color: black;
}